<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <meta name="description" content="<%- description %>"/>
    <meta property="og:description" content="<%- description %>" />
    <meta property="og:image" content="<%- image %>" />
    <meta property="og:site_name" content="<%- sitename %>">
    <meta property="og:title" content="<%- title %>" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- url %>" />
    <meta property="fb:app_id" content="<%- fb_appId %>" />

    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="Danangtrade">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#303f9f">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="<%- cssFile %>" rel="stylesheet"/>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NNBDK5G');</script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNBDK5G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root">
      <%- generatedContent %>
    </div>
    <script type="text/javascript" src="<%- jsVendorFile %>"></script>
    <script type="text/javascript" src="<%- jsFile %>"></script>
  </body>
</html>